html {
	width: 100%;
	height: 100%;
}

body {
	font: 14px helvetica neue, helvetica, arial, sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#cy, #tag-cloud, #historical {
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 0;
	right: 17em;
	display: none;
	overflow: auto;
}

.config {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 17em;
	background: rgba(51, 122, 183, 0.8) none repeat scroll 0 0;
	box-sizing: border-box;
	padding: 1em;
	color: #fff;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: ease-out;
	overflow: auto;
	z-index: 1;
}

.param {
	margin-bottom: 1em;
}

.preamble {
	margin-bottom: 2em;
}

p {
	margin: 0.5em 0;
	font-size: 0.8em;
}

.datepicker {
	position: relative;
	display: inline-block;
}

.datepicker-content, .filter-input-text {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	color: black;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	color: black;
}

.apply-filter-button {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	color: black;
}

.AccountDropdown-content {
	position: relative;
	enable: false;
	margin-bottom: 1em;
	color: black;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.show {
	display: block;
}

.param button {
	width: 3em;
	margin-right: 0.25em;
}

a, a:hover {
	color: #62daea;
}

.label {
	display: inline-block;
}

.slider {
	display: block;
}

.config-toggle {
	transition: color 0.5s ease;
	color: #333;
	cursor: pointer;
	font-size: 1.3em;
	margin: 0 0.3em 0 0;
	padding: 0.65em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999999;
}
body > .config-toggle {
	color: #FFF;
}

.config-closed .config-toggle {
	color: #333;
}

.config-closed .config {
	opacity: 0;
	pointer-events: none;
}

.config-closed #cy, .config-closed #tag-cloud, .config-closed #historical
	{
	right: 0;
}

.config-header {
    display: block;
    font-weight: bold;
    padding-bottom: 0.4em;
}

@media ( max-width : 600px) {
	#cy, #tag-cloud, #historical {
		right: 0;
	}
}

h1 {
	font-size: 22px;
	font-family: "Lato";
}

.word-cloud-wrapper {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-top-width: 0;
    float: left;
    height: 200px;
    margin: 10px;
    text-align: center;
    transition: border-color 0.5s ease 0s;
    width: 400px;
}
.word-cloud-wrapper:hover {
    background-color: rgba(98, 218, 234, 0.02);
    border-color: #62daea;
    cursor: pointer;
}
.word-cloud-wrapper .cloud-header, .word-cloud-wrapper .cloud-sources {
	display: none;
}
.word-cloud-wrapper.cloud-expanded, .word-cloud-wrapper.cloud-expanded:hover {
    background-color: #fff;
    border-color: #62daea;
    border-top-width: 1px;
    cursor: auto;
    height: 98%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
}
.config-closed .word-cloud-wrapper.cloud-expanded {
    width: calc(98% - 170px);
}
.word-cloud-wrapper.cloud-expanded .cloud-header, .word-cloud-wrapper.cloud-expanded .cloud-sources {
	display: block;
}

.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}
.dateInfo {
    background-color: white;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
}
.sourceDistribution {
    height: 5px;
}
.cloud-expanded .sourceDistribution {
	height: 40px;
	margin-bottom: 20px;
}
.sourceDistribution div {
    float: left;
    height: 100%;
}
#bar-explanation {
    position: absolute;
    right: 10px;
    display: none;
}
body.config-closed #bar-explanation {
	display: block;
}
#bar-explanation .entry {
    padding: 6px 0;
}
#bar-explanation .entry > div {
    float: left;
    height: 17px;
    margin-right: 10px;
    width: 17px;
}
.analyze-settings {
	margin-bottom: 25px;
}

/* Loader CSS */

.cssload-loader {
	position: relative;
	left: calc(50% - 56px);
	width: 112px;
	height: 112px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 1400px;
	margin-top: 10px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 2.95s linear infinite;
		-o-animation: cssload-rotate-one 2.95s linear infinite;
		-ms-animation: cssload-rotate-one 2.95s linear infinite;
		-webkit-animation: cssload-rotate-one 2.95s linear infinite;
		-moz-animation: cssload-rotate-one 2.95s linear infinite;
	border-bottom: 5px solid rgb(0,0,0);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 2.95s linear infinite;
		-o-animation: cssload-rotate-two 2.95s linear infinite;
		-ms-animation: cssload-rotate-two 2.95s linear infinite;
		-webkit-animation: cssload-rotate-two 2.95s linear infinite;
		-moz-animation: cssload-rotate-two 2.95s linear infinite;
	border-right: 5px solid rgba(0,0,0,0.48);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 2.95s linear infinite;
		-o-animation: cssload-rotate-three 2.95s linear infinite;
		-ms-animation: cssload-rotate-three 2.95s linear infinite;
		-webkit-animation: cssload-rotate-three 2.95s linear infinite;
		-moz-animation: cssload-rotate-three 2.95s linear infinite;
	border-top: 5px solid rgba(0,0,0,0.17);
}


@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}


